.weather-card {
  background: linear-gradient(135deg, #d5d5fa, #d1d1e9);
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #4a4a4a;
}

.weather-card h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.weather-card p {
  margin: 8px 0;
  font-size: 1em;
}

.weather-card .temperature {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card .temperature i {
  font-size: 2em;
  margin-right: 10px;
}

.weather-card .description {
  font-size: 1.2em;
  color: #777;
}

.weather-card .date-time {
  color: #999;
  font-size: 0.9em;
}

.weather-card .additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.weather-card .additional-info div {
  flex: 1;
  font-size: 0.9em;
}

.weather-card .additional-info div:not(:last-child) {
  margin-right: 10px;
}


@keyframes snow {
  0% {
    background-position: 0 -100px;
  }
  100% {
    background-position: 0 100px;
  }
}
.weather-icon {
  width: 100px;    /* Set a uniform width */
  height: 100px;   /* Set a uniform height */
  /* Optional: To maintain aspect ratio and ensure the image is centered */
  object-fit: contain;  /* This keeps the aspect ratio of the image */
}
